<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
<link rel="stylesheet"
href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
<title>INDEX PAGE</title>
<style>
    h1
    {
        margin: 10px;
        background-color:lightblue;
        text-align: center;
    }
    body
    {
        background-color: beige;
    }

</style>
</head>
<body>
    <h1>WELCOME TO GOOD READS</h1>
    <br><br><br>
    <br><br><br>
    <br><br><br>

    <div class="container">
        <div class="text-center">
            <a href='http://127.0.0.1:5000/login.html'><button class="btn btn-primary btn-lg">Login</button></a>
            <a href='http://127.0.0.1:5000/register.html'><button class="btn btn-primary btn-lg">Register</button></a>
        </div>

    </div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
</html>